.wd-clickable {
  cursor: pointer;
}

.wd-text-gray {
  color: darkslategray;
}

/* Jose's Classes */
.wd-avatar-image {
  width: 48px;
}

.wd-border-radius-20px {
  border-radius: 20px;
}
